* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
}

.title {
    padding: 10px;
}

.nav > ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-size: 1.2rem;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    border-bottom: 2px white solid;
    padding-bottom: 10px;
}

.album-container {
    padding: 20px;
}

.album-name {
    font-size: 1.2rem;
}

.data-info {
    font-size: 1rem;
}